## 모의고사
- 이진 분류
- 이직할 사람을 찾는 문제(확률)

### 평가
- 확률값 예측
- roc-auc

### target
- 0: 이직할 마음 없음
- 1: 이직할 회사 찾음

### 참고영상
- https://www.youtube.com/watch?v=QWEqMQIwH5A

In [1]:
################## 시험 안내 문구 및 코드 ##################
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("../input/hr-data/X_test.csv")
X_train = pd.read_csv("../input/hr-data/X_train.csv")
y_train = pd.read_csv("../input/hr-data/y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'enrollee_id': X_test.enrollee_id, 'target': pred}).to_csv('003000000.csv', index=False)

In [2]:
# 데이터크기 확인
print(X_train.shape, X_test.shape, y_train.shape)

(19158, 13) (2126, 13) (19158, 2)

In [3]:
# 데이터샘플 확인
print(X_train.head(10))

   enrollee_id      city  city_development_index gender  \
0         8949  city_103                   0.920   Male
1        29725   city_40                   0.776   Male
2        11561   city_21                   0.624    NaN
3        33241  city_115                   0.789    NaN
4          666  city_162                   0.767   Male
5        21651  city_176                   0.764    NaN
6        28806  city_160                   0.920   Male
7          402   city_46                   0.762   Male
8        27107  city_103                   0.920   Male
9          699  city_103                   0.920    NaN

       relevent_experience enrolled_university education_level  \
0  Has relevent experience       no_enrollment        Graduate
1   No relevent experience       no_enrollment        Graduate
2   No relevent experience    Full time course        Graduate
3   No relevent experience                 NaN        Graduate
4  Has relevent experience       no_enrollment         Masters
5  Has relevent experience    Part time course        Graduate
6  Has relevent experience       no_enrollment     High School
7  Has relevent experience       no_enrollment        Graduate
8  Has relevent experience       no_enrollment        Graduate
9  Has relevent experience       no_enrollment        Graduate

  major_discipline experience company_size    company_type last_new_job  \
0             STEM        >20          NaN             NaN            1
1             STEM         15        50-99         Pvt Ltd           >4
2             STEM          5          NaN             NaN        never
3  Business Degree         <1          NaN         Pvt Ltd        never
4             STEM        >20        50-99  Funded Startup            4
5             STEM         11          NaN             NaN            1
6              NaN          5        50-99  Funded Startup            1
7             STEM         13          <10         Pvt Ltd           >4
8             STEM          7        50-99         Pvt Ltd            1
9             STEM         17       10000+         Pvt Ltd           >4

   training_hours
0              36
1              47
2              83
3              52
4               8
5              24
6              24
7              18
8              46
9             123

In [4]:
# 예측해야 할 타겟 샘플 확인
y_train.head()

   enrollee_id  target
0         8949       1
1        29725       0
2        11561       0
3        33241       1
4          666       0

In [5]:
# 예측할 데이터 균형 확인
y_train['target'].value_counts()

0    14381
1     4777
Name: target, dtype: int64

In [6]:
# 데이터 타입 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.9+ MB
None

In [7]:
# 데이터 타입 확인

print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2126 non-null   int64
 1   city                    2126 non-null   object
 2   city_development_index  2126 non-null   float64
 3   gender                  1616 non-null   object
 4   relevent_experience     2126 non-null   object
 5   enrolled_university     2095 non-null   object
 6   education_level         2074 non-null   object
 7   major_discipline        1816 non-null   object
 8   experience              2121 non-null   object
 9   company_size            1505 non-null   object
 10  company_type            1492 non-null   object
 11  last_new_job            2086 non-null   object
 12  training_hours          2126 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.0+ KB
None

In [8]:
# 결측치 확인
print("##Train##")
print(X_train.isnull().sum())
print("##Test##")
print(X_test.isnull().sum())

##Train##
enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
dtype: int64
##Test##
enrollee_id                 0
city                        0
city_development_index      0
gender                    510
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          310
experience                  5
company_size              621
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [9]:
# 심플 결측치 처리
X_train = X_train.fillna('X')
X_test = X_test.fillna('X')

In [10]:
print("##Train##")
print(X_train.isnull().sum())
print("##Test##")
print(X_test.isnull().sum())

##Train##
enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64
##Test##
enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

In [11]:
X_test_id = X_test.pop('enrollee_id')
print(X_test_id)

0       32403
1        9858
2       31806
3       27385
4       27724
        ...
2121    27163
2122    24507
2123    21339
2124     1289
2125      195
Name: enrollee_id, Length: 2126, dtype: int64

In [12]:
X_train = X_train.drop(['enrollee_id','city'], axis=1)
X_test = X_test.drop('city', axis=1)
print(X_train.shape, X_test.shape)

(19158, 11) (2126, 11)

In [13]:
# 카테고리 컬럼 
cat_cols = X_train.select_dtypes("object").columns
print(cat_cols)

Index(['gender', 'relevent_experience', 'enrolled_university',
       'education_level', 'major_discipline', 'experience', 'company_size',
       'company_type', 'last_new_job'],
      dtype='object')

In [14]:
# 라벨 인코딩

from sklearn.preprocessing import LabelEncoder

all_df = pd.concat([X_train.assign(ind='train'),X_test.assign(ind='test')])
le = LabelEncoder()
all_df[cat_cols] = all_df[cat_cols].apply(le.fit_transform)

X_train = all_df[all_df['ind'] == 'train']
X_train = X_train.drop('ind', axis=1)

X_test = all_df[all_df['ind'] == 'test']
X_test = X_test.drop('ind',axis=1)
print(X_test)

      city_development_index  gender  relevent_experience  \
0                      0.827       1                    0
1                      0.920       0                    0
2                      0.624       1                    1
3                      0.827       1                    0
4                      0.920       1                    0
...                      ...     ...                  ...
2121                   0.878       1                    1
2122                   0.698       3                    1
2123                   0.624       0                    1
2124                   0.920       1                    1
2125                   0.897       1                    0

      enrolled_university  education_level  major_discipline  experience  \
0                       0                0                 5          19
1                       3                0                 5          15
2                       3                1                 6          20
3                       3                2                 5           2
4                       3                0                 5          21
...                   ...              ...               ...         ...
2121                    3                2                 5           7
2122                    3                0                 5          12
2123                    0                1                 6          13
2124                    3                0                 2           7
2125                    3                2                 5           9

      company_size  company_type  last_new_job  training_hours
0                8             6             0              21
1                9             5             0              98
2                9             5             6              15
3                0             5             0              39
4                3             5             4              72
...            ...           ...           ...             ...
2121             8             5             4              58
2122             9             6             6             133
2123             9             6             6              56
2124             9             4             3              15
2125             9             6             1              30

[2126 rows x 11 columns]

In [15]:
# 스케일링

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

n_cols = ['city_development_index', 'training_hours']

X_train[n_cols] = scaler.fit_transform(X_train[n_cols])
X_test[n_cols] = scaler.transform(X_test[n_cols])

print(X_train)

       city_development_index  gender  relevent_experience  \
0                    0.738919       1                    0
1                   -0.428410       1                    1
2                   -1.660590       3                    1
3                   -0.323026       3                    1
4                   -0.501368       1                    0
...                       ...     ...                  ...
19153                0.398448       1                    1
19154                0.738919       1                    0
19155                0.738919       1                    0
19156               -0.217642       1                    0
19157                0.212000       3                    1

       enrolled_university  education_level  major_discipline  experience  \
0                        3                0                 5          21
1                        3                0                 5           6
2                        0                0                 5          15
3                        2                0                 1          20
4                        3                2                 5          21
...                    ...              ...               ...         ...
19153                    3                0                 2           5
19154                    3                0                 5           5
19155                    3                0                 5          21
19156                    3                1                 6          20
19157                    3                4                 6          11

       company_size  company_type  last_new_job  training_hours
0                 9             6             0       -0.488985
1                 5             5             4       -0.305825
2                 9             6             6        0.293607
3                 9             5             6       -0.222571
4                 5             1             3       -0.955209
...             ...           ...           ...             ...
19153             9             6             0       -0.389079
19154             9             6             3       -0.222571
19155             5             5             3       -0.355778
19156             6             5             1        0.526719
19157             9             6             0        1.026245

[19158 rows x 11 columns]

In [16]:
X = X_train
y = y_train['target']
test = X_test

In [17]:
# 데이터 분리
from sklearn.model_selection import train_test_split

X_tr,X_val,y_tr,y_val = train_test_split(X, y, test_size= 0.1, random_state=2023)
print(X_tr.shape,X_val.shape,y_tr.shape,y_val.shape)

(17242, 11) (1916, 11) (17242,) (1916,)

In [18]:
# 모델학습 및 평가
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
rfc = RandomForestClassifier()
rfc.fit(X_tr, y_tr)
pred = rfc.predict_proba(X_val)[:,1]
print(roc_auc_score(y_val, pred))

0.7949191217993944

In [19]:
# 최종제출

rfc.fit(X, y)
pred = rfc.predict_proba(test)[:,1]

In [20]:
# csv생성코드
submission = pd.DataFrame({'enrollee_id':X_test_id, 'target':pred})
print(submission)

submission.to_csv('00600.csv', index=False)

      enrollee_id  target
0           32403    0.24
1            9858    0.28
2           31806    0.23
3           27385    0.02
4           27724    0.02
...           ...     ...
2121        27163    0.03
2122        24507    0.74
2123        21339    0.28
2124         1289    0.25
2125          195    0.11

[2126 rows x 2 columns]

In [21]:
check = pd.read_csv('00600.csv')
print(check)

      enrollee_id  target
0           32403    0.24
1            9858    0.28
2           31806    0.23
3           27385    0.02
4           27724    0.02
...           ...     ...
2121        27163    0.03
2122        24507    0.74
2123        21339    0.28
2124         1289    0.25
2125          195    0.11

[2126 rows x 2 columns]

## 채점

In [22]:
# 채점(아래 주석 풀로 채점)
import pickle
import numpy as np
from sklearn.metrics import roc_auc_score

with open( "../input/hr-data/answer.pickle", "rb" ) as file:
    ans = pickle.load(file)
    ans = pd.DataFrame(ans)
print(roc_auc_score(ans['target'], pred))

0.7655219534050178