### 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 및 데이터 불러오기

import pandas as pd

df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")

In [2]:
df['Date'] = pd.to_datetime(df["Date"])
df.tail()

          Date     Sales      PV      UV  Events
725 2023-12-27  33846609  415067  7360.0       1
726 2023-12-28   3659566  208601  2262.0       1
727 2023-12-29   1164008   14309   193.0       0
728 2023-12-30   3977696   60935     NaN       0
729 2023-12-31   3719764   60963  1507.0       0

In [3]:
df = df.set_index('Date')
df.tail()

               Sales      PV      UV  Events
Date
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'], index_col=0)

# 아래 코드를 한줄로 표현함
# df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')

In [6]:
print(df.shape)
df.head(3)

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1

In [7]:
df.tail(3)

              Sales     PV      UV  Events
Date
2023-12-29  1164008  14309   193.0       0
2023-12-30  3977696  60935     NaN       0
2023-12-31  3719764  60963  1507.0       0

### 단위 
- 주 단위 W
- 2주 단위 2W
- 월 단위 M

In [8]:
df_w = df.resample('W').sum()
df_w

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1
...              ...      ...      ...     ...
2023-12-03  47120909   884734  12086.0       2
2023-12-10  46398053   975024  21872.0       3
2023-12-17  20763518   291261  17221.0       0
2023-12-24  34528035   901451  11732.0       2
2023-12-31  51435189   813019  12168.0       2

[105 rows x 4 columns]

In [9]:
df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [10]:
ma = df_w['Sales'].max()
ma

99165648

In [11]:
mi = df_w['Sales'].min()
mi

7526598

In [12]:
print(ma - mi)

91639050

In [18]:
# 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

import pandas as pd

df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'], index_col=0)

In [19]:
print(df.shape)
df.head()

(730, 4)

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0

In [20]:
df.tail()

               Sales      PV      UV  Events
Date
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

In [22]:
# 주 단위로 리샘플링

df_w = df.resample('W').sum()
df_w.head()

               Sales       PV       UV  Events
Date
2022-01-02  22748304   401318   6710.0       1
2022-01-09  33373822  1148464  15189.0       2
2022-01-16  20754519   283773   9344.0       0
2022-01-23  21880751   538633   9841.0       1
2022-01-30  28878452   560814   7808.0       1

In [23]:
# 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이값

wmax = df_w['Sales'].max()
wmin = df_w['Sales'].min()

print(wmax - wmin)

91639050