# T1-30. 12월 25일 결제 금액(price)은 12월 총 결제금액의 몇 %인가? (정수로 출력)

In [1]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df

        date  hour    menu  price
0   20221129    13    딸기라떼   4000
1   20221130    12    카페라떼   3000
2   20221201    14   바닐라라떼   3500
3   20221201    16    초코라떼   3500
4   20221202    17    모카라떼   3500
5   20221202    12   카라멜라떼   3500
6   20221203     8   챠이 라떼   3500
7   20221203     9   아메리카노   2000
8   20221203    15   오곡 라떼   4000
9   20221203    16   아메리카노   2000
10  20221225    10   아메리카노   2000
11  20221225    14  토피넛 라떼   4000
12  20221225    16   카페 라떼   3000

In [3]:
# your code
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df

         date  hour    menu  price
0  2022-11-29    13    딸기라떼   4000
1  2022-11-30    12    카페라떼   3000
2  2022-12-01    14   바닐라라떼   3500
3  2022-12-01    16    초코라떼   3500
4  2022-12-02    17    모카라떼   3500
5  2022-12-02    12   카라멜라떼   3500
6  2022-12-03     8   챠이 라떼   3500
7  2022-12-03     9   아메리카노   2000
8  2022-12-03    15   오곡 라떼   4000
9  2022-12-03    16   아메리카노   2000
10 2022-12-25    10   아메리카노   2000
11 2022-12-25    14  토피넛 라떼   4000
12 2022-12-25    16   카페 라떼   3000

In [4]:
# 12월 총 결제금액
price12 = df[df['date'].dt.month == 12]['price'].sum()
print(price12)

34500

In [6]:
# 12월 25일 결제 금액(price)

price25 = df[df['date'].dt.day == 25]['price'].sum()
print(price25)

9000

In [8]:
#  몇 %인가? (정수로 출력)

print(int((price25/price12)*100))

26